.container {
  min-height: 100vh;
  background: #07013d;
  color: white;
  width: 100%;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  padding-top: calc(71px + 2rem);
}

.footer {
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
}

@media (max-width: 768px) {
  .main {
    padding: 1rem;
    padding-top: calc(71px + 1rem);
  }
  
  /* Hide the sidebar on mobile */
  .sidebar {
    display: none;
  }
}